<html>
    <head>
        <title>Login</title>

        <link rel="stylesheet" href="/assets/styles.css">

        <script defer src="/assets/script.js"></script>
    </head>
    <body>
        <div class="login">
            <form id="login-form">
                <input type="text" name="username" placeholder="Enter your username or email.." required>
                <input type="password" name="password" placeholder="Enter your password" required>
                <input type="submit">
            </form>
        </div>
    </body>
</html>
